
body {
    font-family: Arial,sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    font-size: 20px;
}
.header {
    width: 100%;
    background-color: #EFF4FA;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-top {
    font-size: 28px;
    padding: 10px 20px;
    color: #3979B7;
    font-weight: bold;
}

.right-top {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    text-align: center;
    margin: 0 30px;
}

.container {
    padding-right: 80px;
    padding-left: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    /*background-color: darkgray;*/
    background-color: #EFF4FA;
}

.content {
    /*margin-left: 225px;*/
    min-height: calc(100vh - 70px);
    margin-bottom: 200px;
}
.footer{
    position: relative;
    height: 50px;
    width: 100%;
    color: white;
    background-color: #36363d;
    border-top: solid 6px #00a3cf;
    /*margin-top: 60px;*/
    padding: 20px 0;
    text-align: center;
}

#table {
    position: relative;
    /*left: -100px;*/
    top: 10px;
    margin-top: 25px;
}
td {
    white-space:nowrap;
    font-size: 20px;
    height: 80px;
}
/*.dropdown-menu {*/
    /*background-color: #DDDDDD;*/
/*}*/
.inf-class , .author-name, .label  {
    width: 150px;
}

.row1-col2, .row1-col4, .row1-col6, .row1-col2, .row1-col4, .row2-col6 {
    width: 150px;
}
.row1-col1, .row1-col3, .row1-col5, .row2-col1, .row2-col3, .row2-col5 {
    width: 100px;
    text-align: right;
}
#essay {
    position: relative;
    /*left: 10px;*/
    font-size: 20px;
    margin-top: 25px;
    /*left: 2%;*/
}
.title {
    position: relative;
    left: 8%;
    margin: 40px 0;
}

.essay-title{
    margin: 0 12px;
    width: 70%;
}
.essay-content {
    position: relative;
    left: -2%;
}
 #send-btn {
     position: relative;
     float: right;
     top: 10px;
 }
 .notice {
    position: relative;
    left: -5%;
    width: 60%;
     overflow-x: hidden;
 }
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
